version: "3.9"

services:
  db:
    image: postgres:16
    container_name: tareas_db
    restart: always
    environment:
      POSTGRES_DB: django_db
      POSTGRES_USER: django_user
      POSTGRES_PASSWORD: django_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5433"

  web:
    build: .
    container_name: tareas_web
    restart: always
    depends_on:
      - db
    environment:
      DB_NAME: django_db
      DB_USER: django_user
      DB_PASSWORD: django_pass
      DB_HOST: db
      DB_PORT: "5433"
    ports:
      - "8000:8000"
    volumes:
      - .:/app

volumes:
  postgres_data:
